<h1>TWOJA FIRMA</h1>

<p>Dodaj uzytkownika</p>
<form action="/business/myBusiness/addWorker" method="POST">
    <label for="id"></label>
    <input type="text" name="id">
    <input id="submit" type="submit" value="Dodaj">
</form>