<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="Visiter-narzędzie stosowane w firmach, gdzie wymaga się od użytkownika wcześniejszego umówienia wizyty w celu wykonania przez pracownika firmy danej usługi." />
  <meta name="keywords" content="Visiter,Calendar,kalendarz,umówienia,wizyty" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <title>Visiter</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="shortcut icon" href="pic/favicon.ico">
  <link rel="stylesheet" href="styles/styles.css">
  <script src="js/index.js"></script>
  <script src="https://kit.fontawesome.com/f327632554.js" crossorigin="anonymous"></script>

</head>

<body>
  <div id="strona_glowna">
    <aside>
      <center>
        <img src="pic/logo_inline.png">
      </center>
      <div id="ikony">
        <p><a href="strona_glowna.html"><i class="fas fa-house"></i>Strona główna</a></p>
        <p><a href="business/"><i class="fas fa-user"></i> Mój profil</a></p>
        <p><a href="business/search"><i class="fas fa-magnifying-glass"></i> Szukaj</a></p>
        <p><a href="wizyty.html"><i class="fas fa-folder"></i> Moje wizyty</a></p>
        <p><a href="wiadomosci.html"><i class="fas fa-comments"></i>Wiadomości</a></p>
        <form action="/logout" method="POST">
          <button type="submit">Wyloguj</button>
        </form>
      </div>





    </aside>
    <section id="kafelki">
      <div id="gora">
        <div id="wizyta_reklama">
          <article id="box1">NAJBLIZSZA WIZYTA</article>
          <article id="box2">REKLAMA PRACODAWCY</article>
        </div>
        <article id="box3">PROFILE</article>

      </div>
      <div id="dol">
        <article class="box4">POWIADOMIENIA</article>
        <article class="box4">OGLOS SIE NA VISITER</article>
      </div>
    </section>
  </div>

</body>

</html>