*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    color:#D9D9D9;
}
body{
    background-color: #D9D9D9;
}
#sekcja_logowanie{
width: 20%;
min-width: 250px;
max-width: 300px;
height: 450px;
background-color: #33365E;
position: absolute;  
top: 20%;
left: 43%;
text-align: center;
border-radius: 22px;
color: white;
}
#sekcja_logowanie a:visited{
color:#1E1E1E;
}
#sekcja_logowanie a{
     text-decoration:none;
    }

#sekcja_logowanie p {
    color:#F1511B;
    margin-right: -70px;
    font-size: smaller;
}
#sekcja_logowanie p:hover{
    text-decoration: underline;
}
#sekcja_logowanie img{
    height: 200px;
    width: 200px;
    
}
#sekcja_logowanie input{
    margin:5px;
}
#password{
    margin-left:-10px
}
i{
    margin-left: -30px; 
    cursor: pointer;
    color: #1E1E1E;
}

input{
    border-radius: 100px;
    height: 40px;
    width: 200px;
    color: #1E1E1E;
    background-color: white;
    text-indent: 15px;
    border:0;
}
#submit{
    background-color: #F1511B;
    text-indent: 0;
    border-radius: 100px;
    height: 40px;
    width: 200px;
    color: #1E1E1E;
    text-indent: 15px;
    border:0;

}
#submit:hover{
    cursor:pointer;
}

button{
        background-color: #F1511B;
        text-indent: 0;
}
button:hover{
    cursor:pointer;
}
#plec{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
}
#plec input[type=radio]{
    margin-left: 60px;
    height: unset;
    width: unset;

}
#pleclabel{
    margin:0;
    padding:0;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#strona_glowna{
    height: 100vh;
    display: flex;
    flex-direction: row;
}
#strona_glowna aside{
    width:21%;
    background-color:#33365E;
}
#strona_glowna aside img{
    width:80%;
    margin-top: -25%;
    
}
#strona_glowna aside a{
    text-decoration: none;

}
#strona_glowna aside p{
    margin:5%;
    font-size:1.5vw;
}
#strona_glowna aside i{

    margin: 10px 5px 10px -5px;

}
#strona_glowna #ikony{
    text-align: left;
    margin-left: 15%;
    margin-top: 50%;

}
#strona_glowna #kafelki{
    width: 79%;
    display:flex;
    flex-direction: column;
}

#kafelki div article{
    background-color:#33365E;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    padding:10px;
}
#kafelki div{
    margin:0%;
   
}
#kafelki #gora{
    height: 67%;
    margin-top: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
} 
#kafelki #gora article{
    width: 47%;
}
#kafelki #dol{
    height: 33%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#kafelki #dol article{
    width: 47%;
}
#kafelki #gora #wizyta_reklama{
    display:flex;
    flex-direction: column;
    width: 47%;
}
#kafelki #gora #wizyta_reklama article{
    height: 100%;
    width: 100%;

}
#kafelki #moj_profil_calosc{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
}
#kafelki #moj_profil_calosc article{
   
    width:47%;
    height: 50vh;


}

#opinie{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#opinie .opinia{
height: 40%;
width: 90%;
border:#1E1E1E 1px solid;
}

#kafelki_szukaj{
    width: 100%;
    margin-left: 0;
    margin-right: auto;
   
}
#kafelki_szukaj article h3{
    margin: 10px;
}
#kafelki_szukaj article .opinia{
    background-color: #33365E;
    padding: 10px;
    border-radius: 25px;
    width: 80%;
    height:auto;
    margin:10px;
}

section nav{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    border:3px #33365E solid;
    border-radius: 50px;
    width:510px;
    padding:5px;
    padding-left:40px;
    margin: auto;
    margin-top: 5vh;
    padding-right: 0;


}
#szukaj i{
    padding:auto;
}
section nav input{
    background-color:#D9D9D9;
}

hr{
    border: #33365E solid 1px;
}



nav input{
    margin:0 5px 0 5px;
    height: 50px;
}
nav button{
    background-color: #F1511B;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border:0;
}
button i{
    background-color: #F1511B;
    color:#D9D9D9;
    margin:0;
    font-size:16px;
}
#kafelki_szukaj article{
    width:75%;
    height: 95vh;
    color:#1E1E1E;
    margin:0 auto;
    margin-top: 10px;
    padding:10px;
    border-radius: 30px;

}
#kafelki_szukaj article h3{
    color:#1E1E1E;
}
#moja_wizyta{
    display: flex;
    flex-direction: column;
    overflow:auto;
    margin: 20px auto 40px auto;
    width:75%;
    height: 90%;
    border-radius: 30px;
    padding: 10px;
    
}
#moja_wizyta h3{
    color:#33365E;
}
#wiadomosci{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
    color:#1E1E1E;
}
#respondenci{
    height: 100%;
    width:35%;
    border:#1E1E1E solid 2px;
    border-radius: 20px;
    background-color: #33365E;
    padding: 10px;
}
#czat{
    height: 100%;
    width:60%;
    border-radius: 20px;
}
#czat input{
    background-color: #33365E;
    width:90%;
    height: 90%;
    padding:5px;
    color:#D9D9D9;
}
#czat_input{
    width: 100%;
    background-color: #33365E;
    border-radius: 15px;
    height: 5%;
    margin:0;
}
#czat_input button{
    background-color: #33365E;
    border:none;
    width:10%;
    height: 100%;
    border-radius: 15px;
}
#czat_input i{
    background-color: #33365E;
}
#czat_wiadomosci{
    width:100%;
    margin:0;
    height:95%
}

@media all and (max-width: 600px) {
    *{
        font-size: 2.5vw;
    }
    #kafelki_szukaj nav{
        width:310px;
    }
    #kafelki_szukaj input{
        width: 100px;;
    }
    #kafelki_szukaj i{
        font-size: 10px;
        padding:5px;
    }
    #button_szukaj{   

        border-radius: 100px;
        height: 40px;
        width: 40px;
        margin:auto;
    }
}
@media all and (max-width: 830px) {
    #kafelki #moj_profil_calosc{
        display: flex;
        flex-direction:column;
        flex-wrap:wrap;
        margin:auto;
        justify-content: space-around;
        width: 85%;
        height: 100%;
    }
    #kafelki #moj_profil_calosc article{
        width: 100%;
        height: 46%;
    
    }
}
