.login--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #33365E;
    padding: 50px;
    border-radius: 20px;
    margin: auto;
}

.logo--img{
    height: 60px;
    width: auto;
    margin-bottom: 20px;
}

.login--heading{
    color: white;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 20px;
}

.login--form{
    display: flex;
    flex-direction: column;
}

.login--input{
    margin-bottom: 10px;
}

.input--email{
    margin-bottom: 10px;
}

.register__info--wrapper{
    margin-top: 50px
}

.register--info{
    color: white;
}

.tags{
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #EFEDFF;
    border: 2px solid transparent;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    min-height: 43px;
    height: auto;
    cursor: pointer;
}
#listbox{
    margin-bottom: 10px;
    border: 0px;
    
}
#selectedOptions{
    margin-bottom: 10px;
}
[contentEditable=false]:empty:not(:focus):before {
    content: attr(data-text)
}
tag{
    background-color: #444774;
    border-radius: 33px;
    width: 50%;
    display: flex;
    margin: 2px;
    min-width: 0px;
    box-sizing: border-box;
    padding: 3px 12px;
    -webkit-box-align: center;
    justify-content: space-around;
}
tag p{
    margin: 5px;
    color: white;
}
span{
    color: white;
    margin: auto;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}