* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #efedff;
}

/* Text */
h1,
h2,
h3 {
  color: #33365e;
  margin: 10px 0;
}

/* Form */
input {
  width: 300px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #efedff;
  border: 2px solid transparent;
  outline: none;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border: 2px solid #f1511b;
}

.input--invalid {
  outline: none;
  border: 2px solid #f11b1b;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #f1511b;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: #bf370a;
}

button:active {
  background-color: #ff7e54;
}

a.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 5px 10px;
  background-color: #f1511b;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  transition: background-color 0.1s ease-in-out;
}

a.btn:hover {
  background-color: #bf370a;
}

a.btn:active {
  color: #ff7e54;
}

.link {
  text-align: right;
  color: #f1511b;
  margin: 10px 0;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

.link:hover {
  color: #bf370a;
}

.link:active {
  color: #ff7e54;
}

/* Toggle password */
.input--password {
  position: relative;
}

.password__toggle--icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-solid {
  color: #33365e;
}

/* Error popup */
.error--popup {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 0 15px;
  background-color: #1a1c36;
  border-radius: 20px;
}

.error--message {
  color: white;
}

/* Nav */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 100%;
  background-color: #33365e;
  padding: 40px;
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.nav__img--link {
  position: absolute;
  top: 0;
}

.nav--img {
  width: 100%;
}

/* Menu */
.menu__list {
  margin: 0 auto;
  width: fit-content;
  padding: 0;
}

.menu__list--item {
  list-style-type: none;
  width: fit-content;
}

.item--link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
  transition: color 0.1s ease-in-out;
  color: #efedff;
  margin-top: 20px;
}

.item--link:visited {
  color: #efedff;
}

.item--link:hover {
  color: #bebbd3;
}

.item--link:active {
  color: #f1511b;
}

.item--icon {
  height: 28px;
}

.list__item--name {
  margin: 0 0 0 10px;
}

.list__logout--item {
  margin-top: 20px;
}

/* Main */
.main {
  height: 100vh;
  width: calc(100% - 300px);
}

/* SCROLLBAR - DARK */
/* Scrollbar - Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #33365e #cbcef1;
}
/* Scrollbar - Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cbcef1;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33365e;
  border-radius: 20px;
  border: solid 2px #cbcef1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e3155;
}
