.login--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #33365E;
    padding: 50px;
    border-radius: 20px;
    margin: auto;
}

.logo--img{
    height: 60px;
    width: auto;
    margin-bottom: 20px;
}

.login--heading{
    color: white;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 20px;
}

.login--form{
    display: flex;
    flex-direction: column;
}

.login--input{
    margin-bottom: 10px;
}

.register__info--wrapper{
    margin-top: 50px
}

.register--info{
    color: white;
}
